<script defer src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
  function aside(id, role) {
    element = document.createElement('aside');
    element.classList.add(`swiper-${role}`);
    element.id = `${id}-${role}`
    return element;
  }
  Array.from(document.querySelectorAll("section.level1")).forEach(function(s1) {
    const s2_nodes = s1.querySelectorAll("section.level2");
    if(s2_nodes.length == 0) {return};

    const wrapper = document.createElement('section');
    wrapper.classList.add("swiper-wrapper");
    const first_slide = wrapper.appendChild(document.createElement('section'));
    Array.from(s2_nodes).forEach(function(s2) {
      clone = s2.cloneNode(true)
      clone.classList.add('swiper-slide');
      wrapper.appendChild(clone);
    });

    first_slide.classList.add("swiper-slide");
    for (const element of s1.children) {
      if (element.tagName === "SECTION") {
        break;
      }
      first_slide.appendChild(element.cloneNode(true));
    }

    s1.replaceChildren(...[
      wrapper,
      //aside(s1.id, "button-next"),
      //aside(s1.id, "button-prev"),
      aside(s1.id, "pagination")
    ]);
    s1.setAttribute('data-config', '{"direction":"vertical"}');
    s1.classList.add('swiper-container');
  });
});


// initialize
document.addEventListener("DOMContentLoaded", function() {
  const containers = document.getElementsByClassName('swiper-container');
  Array.from(containers).forEach(function(container) {
    const id = container.id; // `|| swiper-${Math.random().toString().substring(2)}`
    let config = {
      simulateTouch: false,
      pagination: {
        el: `#${id}-pagination`,
        clickable: true,
        //type: "fraction",
      },
      navigation: {
        nextEl: null,
        prevEl: null
        //nextEl: `#${id}-button-next`,
        //prevEl: `#${id}-button-prev`,
      },
      keyboard: {
        enabled: true,
        onlyInViewport: false
      }
    }
    const json = container.getAttribute('data-config');
    if (json !== null) {
      config = Object.assign({}, config, JSON.parse(json));
    }
    const swiper = new Swiper(container, config);
  })
});

// resize
document.addEventListener("DOMContentLoaded", function() {
  const container = document.getElementById("swiper-presentation");
  const slide_width = 960;
  const slide_height = 700;
  function resize() {
    const current_width = window.innerWidth;
    const current_height = window.innerHeight;
    const scale_width = current_width / slide_width;
    const use_scale_width = current_height > slide_height * scale_width;
    const scale = use_scale_width ? scale_width : current_height / 700;
    const margin = use_scale_width
       ? `${current_height * 0.5 - slide_height * scale * 0.5}px 0`
       : `0 ${current_width * 0.5 - slide_width * scale * 0.5}px`;
    container.style["transform"] = `scale(${scale})`;
    container.style["margin"] = margin;
  }
  resize();
  window.addEventListener("resize", resize);
});
</script>

<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>

<style>
  html {
    background: #000;
    overflow: hidden;
  }
  body {
    background: #000;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #swiper-presentation {
    margin: 0;
    width: 960px;
    height: 700px;
    transform-origin: top left;
    --item-margin-side: calc(var(--swiper-navigation-size) / 44 * 27 + 15px);
    --item-width: calc(960px - 2 * var(--item-margin-side));
  }
  section.swiper-slide {
    background: #fff
  }
  h1 {
    font-size: 1.5em;
  }
  h1.swiper-slide,
  h2.swiper-slide,
  h3.swiper-slide,
  h4.swiper-slide,
  h5.swiper-slide,
  h6.swiper-slide {
    width: auto;
    height: auto;
  }
  section.swiper-slide > * {
    max-width: var(--item-width);
    margin: var(--item-margin-side);
  }
  .swiper-slide p img {
    box-sizing: border-box;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .swiper-slide.swiper-container > * {
    margin: 0;
  }
  .swiper-slide.swiper-container .swiper-wrapper {
    max-width: unset;
    width: 100%;
    height: 100%;
  }
</style>
